@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'dark';
    default: true;
    prefersdark: true;
    color-scheme: 'dark';
    --color-base-100: oklch(14% 0 0);
    --color-base-200: oklch(20% 0 0);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(97% 0 0);
    --color-primary: oklch(98% 0.003 247.858);
    --color-primary-content: oklch(0% 0 0);
    --color-secondary: oklch(43% 0 0);
    --color-secondary-content: oklch(98% 0.003 247.858);
    --color-accent: oklch(43% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(27% 0.006 286.033);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(64% 0.2 131.684);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: 'light';
    default: false;
    prefersdark: false;
    color-scheme: 'light';
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(21% 0.006 285.885);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(21% 0.006 56.043);
    --color-accent-content: oklch(98% 0 0);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

html {
    @apply bg-base-200;
}

.slide-up {
    animation: slideUp 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn,
.input,
.select,
.textarea {
    outline: none;
}

.label,
.label-text {
    display: block;
}
